<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029512894885-jnigrc3n7s31enabhqhgpvp0fgaece31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029512894885-jnigrc3n7s31enabhqhgpvp0fgaece31</string>
	<key>API_KEY</key>
	<string>AIzaSyDldZIFhkCSMI2bTD-CEkDJn94Dm2nDSEM</string>
	<key>GCM_SENDER_ID</key>
	<string>1029512894885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nakano.Interview100</string>
	<key>PROJECT_ID</key>
	<string>interview100-c8b56</string>
	<key>STORAGE_BUCKET</key>
	<string>interview100-c8b56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029512894885:ios:83c2f79a96e5a238</string>
	<key>DATABASE_URL</key>
	<string>https://interview100-c8b56.firebaseio.com</string>
</dict>
</plist>